<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SmartGym3.Properties.Settings.SmartGYMConnectionString"
            connectionString="Data Source=DESKTOP-CTIOBN5\MARLONBALLA;Initial Catalog=SmartGYM;Persist Security Info=True;User ID=sa;Password=Marlon1993*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>