<div class="modalContainer">
    <div class="addNewProduct">
        <div class="supermarketImg">
            <div>
                <span>Tranquilidade</span> 
                <span>Entrega em domicílio!</span>
            </div>
            <div class="userContainer">
                    <img>
                    <span>Rogério Gabriel</span>              
            </div>
        </div>
        <form action="" class="addNewProductForm">
            <h2>
                Pegou tudo que precisava? <br> Hein? 🛒
            </h2>
            <p>
                Confere as frutas e verduras fresquinhas, os lanchinhos gostosos para o trabalho e as besteirinhas do final de semana  😎😍
            </p>
        </form>
    </div>
</div>
